* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.dark-mode {
    background-color: #1f2937;
    color: white;
}

.navbar button {
    background: none;
    border: none;
    outline: none;
}

header {
    color: #7e22ce;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.navbar ul {
    margin-bottom: 0rem !important;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #7e22ce;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: white;
    background-color: #ffa500;
    padding: 5px;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #7e22ce;
    height: 2px;
    width: 24px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.nav-toggle-label span::before {
    content: '';
    transform: translateY(-8px);
}

.nav-toggle-label span::after {
    content: '';
    transform: translateY(8px);
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(50vh - 60px);
        background: #333;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: left 0.3s ease;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-toggle:checked+.nav-toggle-label+.nav-links {
        left: 0;
    }

    .nav-toggle-label {
        display: flex;
    }
}

.bg-img img {
    height: auto;
    width: 100%;
}